<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Relation Extraction</title>
    </head>
    <body>
        <p><strong>Sentence</strong>: {{sentence}}</p>

        <p><strong>Classified as</strong>: {{classification}}</p>

        <form action="/save" method="post">
            <p>Which of the below is the <strong>correct</strong> classification?<br>
                <input type="radio" name="class" value="1" checked="true"> True<br>
                <input type="radio" name="class" value="0"> False<br>
                <input type="radio" name="class" value="2"> Incorrect entity recognition<br>
                <input type="submit" value="Submit" onclick=""></p>
        </form>
    </body>
</html>